html,body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.loader-state-1{
    background-color: rgba(255,255,255,1);
}
.loader-state-2{
    background-color: rgba(255,255,255,0);
}

#loader-clip{
    position: relative !important;
    margin: 0px;
    padding: 0px;
    width: 38px;
    height: 38px;
}
.loader-off{
    display: none;
}
.loader-on{
    display: flex;
}
.loader-on #loader-icon{
    animation-name: animacion-preloader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: animacion-preloader;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes animacion-preloader{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    33.33%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    83.33%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#loader-text{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;

    font-family: 'SohoGothicPro-Medium';
    font-size: 18px;
    color: #808080;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

#contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: #FFFFFF;
}

#televisor,#canal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#canal{
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 70px;
}

#welcome-page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-page p{
    position: relative;
    display: block;
    width: 100%;

    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 20px;
    color: #CCCCCC;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#welcome-page div{
    position: absolute;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -100%;
    margin: 0px;
    padding: 0px;

    background: #000000;
    background: radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    background: -o-radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}
.welcome-page-off{
    visibility: hidden;
    opacity: 0;
}
.welcome-page-on{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

#intro,#inicio{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#video-intro,#video-inicio{
    /*position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;*/
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.video-off{
    visibility: hidden;
}
.video-on{
    visibility: visible;
}

/*************INTRO************/
#intro{
    background-color: #FFFFFF;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
}
#video-intro{
    top: -120px;
}
#luces{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.luz{
    position: absolute;
    width: 465px;
    height: 100%;
    top: -5%;

    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center 0px;
    background-image: url(../images/light.png);
}
#luz-1{
    left: 20%;
    left: calc(20% - (465px / 2));
    left: -moz-calc(20% - (465px / 2));
}
#luz-2{
    left: 40%;
    left: calc(40% - (465px / 2));
    left: -moz-calc(40% - (465px / 2));
}
#luz-3{
    left: 60%;
    left: calc(60% - (465px / 2));
    left: -moz-calc(60% - (465px / 2));
}
#luz-4{
    left: 80%;
    left: calc(80% - (465px / 2));
    left: -moz-calc(80% - (465px / 2));
}
.luces-on .luz{
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.luces-on #luz-1{
    animation-name: animacion-luz-escenario-1;
    -webkit-animation-name: animacion-luz-escenario-1;
}
.luces-on #luz-2{
    animation-name: animacion-luz-escenario-2;
    -webkit-animation-name: animacion-luz-escenario-2;
}
.luces-on #luz-3{
    animation-name: animacion-luz-escenario-3;
    -webkit-animation-name: animacion-luz-escenario-3;
}
.luces-on #luz-4{
    animation-name: animacion-luz-escenario-4;
    -webkit-animation-name: animacion-luz-escenario-4;
}

@keyframes animacion-luz-escenario-1{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    45%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    50%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    95%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

/************INICIO***********/
#inicio{
    background-color: #FFFFFF;
}


#marco-tv{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 65px);
    height: -moz-calc(100% - 65px);
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../images/tv-marco.png);
}
#destello-tv{
    position: absolute;
    width: 45%;
    height: 90%;
    height: calc((100% - 65px) - 10%);
    height: -moz-calc((100% - 65px) - 10%);
    left: 3%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    background-image: url(../images/tv-brillo.png);

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
}

#footer-tv{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;

    background: #1c1626;
    background: linear-gradient(to right, #110c17, #231b2e);
    background: -webkit-linear-gradient(to right, #110c17, #231b2e);
    background: -o-linear-gradient(to right, #110c17, #231b2e);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#footer-tv::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #473d43;
    background: linear-gradient(to right, #473d43, #655a60);
    background: -webkit-linear-gradient(to right, #473d43, #655a60);
    background: -o-linear-gradient(to right, #473d43, #655a60);
    top: -5px;
    left: 0px;
}
#logo-cont{
    position: absolute;
    width: 297px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/logo-back.svg);
    bottom: 0px;
    left: 50%;
    left: calc(50% - (297px / 2));
    left: -moz-calc(50% - (297px / 2));
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    position: relative;
    width: 71%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/logo.png);
}

#footer-tv h1{
    position: relative;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

#sonido-btn{
    position: relative;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;

    border: #929496 solid 1px;
    background-color: rgba(0,0,0,0);

    box-shadow: 0px -2px 2px 1px rgba(0,0,0,0.7);
    outline: none;
    outline-width: 0;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;

    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
}
.sonido-btn-on{
    background-image: url(../images/sonido-on.svg);
}
.sonido-btn-off{
    background-image: url(../images/sonido-off.svg);
}

#sonido-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}




