html,body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.loader-state-1{
    background-color: rgba(255,255,255,1);
}
.loader-state-2{
    background-color: rgba(255,255,255,0);
}

#loader-clip,#loader-icon{
    position: relative !important;
    margin: 0px;
    padding: 0px;
    width: 38px;
    height: 38px;
}
#loader-icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/signal-icon-1.svg);
}
.loader-off{
    display: none;
}
.loader-on{
    display: flex;
}
.loader-on #loader-icon{
    animation-name: animacion-preloader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: animacion-preloader;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes animacion-preloader{
    0%{
        opacity: 0.8;
    }
    33.33%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    83.33%{
        opacity: 1;
    }
    100%{
        opacity: 0.8;
    }
}

#loader-text{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;

    font-family: 'SohoGothicPro-Medium';
    font-size: 18px;
    color: #808080;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

#contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: #FFFFFF;
}

#televisor,#canal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#canal{
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 70px;
}

#welcome-page{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-page p{
    position: relative;
    display: block;
    width: 100%;

    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 20px;
    color: #CCCCCC;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#welcome-page div{
    position: absolute;
    width: 150%;
    height: 150%;
    top: -75%;
    left: -75%;
    margin: 0px;
    padding: 0px;

    background: #000000;
    background: radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    background: -o-radial-gradient(center, circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}
.welcome-page-off{
    visibility: hidden;
    opacity: 0;
}
.welcome-page-on{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

#intro,#inicio,#comercial,#elfin{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#video-intro,#video-inicio,#video-comercial,#video-elfin{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.video-off{
    display: none;
}
.video-on{
    display: block;
}

/*************INTRO************/
#intro{
    background-color: #FFFFFF;
}
.intro-out{
    top: 0px;
    transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
}
.intro-in{
    top: -150px;
    transition: top 10s linear;
    -webkit-transition: top 10s linear;
}
.intro-center{
    top: -150px;
}

#video-intro{
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
}
.video-intro-off{
    display: none;
}
.video-intro-on{
    display: block;
}

#fondo-intro{
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#fondo-intro img{
    width: 100%;
    height: auto;
}
#piso-intro{
    position: absolute;   
    width: 100%;
    height: 20%;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    background: #007076;
    background: linear-gradient(to bottom, #008990, #004c51);
    background: -webkit-linear-gradient(to bottom, #008990, #004c51);
    background: -o-linear-gradient(to bottom, #008990, #004c51);
}

.fondo-intro-off{
    display: none;
}
.fondo-intro-on{
    display: block;
}

/********COMERCIAL********/
#comercial{
    top: 0px;
    background-color: #000000;
    height: 100%;
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
}
#video-comercial{
    height: 100%;
}

#luces{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.luz{
    position: absolute;
    width: 465px;
    height: 100%;
    top: -5%;

    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;
    opacity: 0.3;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center 0px;
    background-image: url(../images/light.png);
}
#luz-1{
    left: 20%;
    left: calc(20% - (465px / 2));
    left: -moz-calc(20% - (465px / 2));
}
#luz-2{
    left: 40%;
    left: calc(40% - (465px / 2));
    left: -moz-calc(40% - (465px / 2));
}
#luz-3{
    left: 60%;
    left: calc(60% - (465px / 2));
    left: -moz-calc(60% - (465px / 2));
}
#luz-4{
    left: 80%;
    left: calc(80% - (465px / 2));
    left: -moz-calc(80% - (465px / 2));
}

.luces-off .luz{
    animation: none;
    animation: unset;
    -webkit-animation: none;
    -webkit-animation: unset;
    display: none;
}
.luces-on .luz{
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.luces-on #luz-1{
    animation-duration: 7s;
    -webkit-animation-duration: 7s;
    animation-name: animacion-luz-escenario-1;
    -webkit-animation-name: animacion-luz-escenario-1;
}
.luces-on #luz-2{
    animation-duration: 8s;
    -webkit-animation-duration: 8s;
    animation-name: animacion-luz-escenario-2;
    -webkit-animation-name: animacion-luz-escenario-2;
}
.luces-on #luz-3{
    animation-duration: 9s;
    -webkit-animation-duration: 9s;
    animation-name: animacion-luz-escenario-3;
    -webkit-animation-name: animacion-luz-escenario-3;
}
.luces-on #luz-4{
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    animation-name: animacion-luz-escenario-4;
    -webkit-animation-name: animacion-luz-escenario-4;
}

@keyframes animacion-luz-escenario-1{
    0%{
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }
    45%{
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
    }
    50%{
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
    }
    95%{
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }
    100%{
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }
}
@keyframes animacion-luz-escenario-2{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    45%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    50%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    95%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}
@keyframes animacion-luz-escenario-3{
    0%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
    }
    45%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    50%{
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    95%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
    }
    100%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
    }
}
@keyframes animacion-luz-escenario-4{
    0%{
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    45%{
        transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
    }
    50%{
        transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
    }
    95%{
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    100%{
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
}

#tablero{
    position: absolute;
    width: 400px;
    height: 182px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/tablero.png);
    top: 20px;
    left: 50%;
    left: calc(50% - (400px / 2));
    left: -moz-calc(50% - (400px / 2));

    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}
.tablero-off{
    display: none;
}
.tablero-on{
    display: flex;
}
.tablero-out{
    top: -182px !important;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
}
.tablero-in{
    top: 20px !important;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
}
#tablero-rayas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/tablero-rayas.png);
}

#tablero-brillo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/tablero-luz.svg);
}
.tablero-brillo-on{
    animation-name: animacion-tablero-luz;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-tablero-luz;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes animacion-tablero-luz{
    0%{
        filter: drop-shadow(0px 0px 0px #FFFFFF);
        -webkit-filter: drop-shadow(0px 0px 0px #FFFFFF);
        -o-filter: drop-shadow(0px 0px 0px #FFFFFF);
    }
    50%{
        filter: drop-shadow(0px 0px 4px #FFFFFF);
        -webkit-filter: drop-shadow(0px 0px 4px #FFFFFF);
        -o-filter: drop-shadow(0px 0px 4px #FFFFFF);
    }
    100%{
        filter: drop-shadow(0px 0px 0px #FFFFFF);
        -webkit-filter: drop-shadow(0px 0px 0px #FFFFFF);
        -o-filter: drop-shadow(0px 0px 0px #FFFFFF);
    }
}

#tablero > p{
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Medium';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    text-shadow: -1px 1px 2px rgba(0,0,0,0.7);
    margin-bottom: 5px;
}
#tablero > h6{
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Light';
    font-size: 20px;
    color: #ECB45C;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    text-shadow: -1px 1px 2px rgba(0,0,0,0.7);
    margin-bottom: 10px;
}
.tablero-score-active{
    animation-name: animacion-tablero-score-activo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    -webkit-animation-name: animacion-tablero-score-activo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
}
@keyframes animacion-tablero-score-activo{
    0%{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    50%{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    100%{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
}

.tablero-row{
    position: relative;
    width: 70%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tablero-col{
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}
.tablero-col > p,
.tablero-col > h6{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Medium';
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
}
.tablero-col > p{
    color: #FFFFFF;
}
.tablero-col > h6{
    color: #ECB45C;
}

#trofeo{
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/trofeo.png);
}
.trofeo-intro{
    width: 174px;
    height: 300px;
    left: 2%;
}
    
#trofeo-brillo{
    position: absolute;
    height: 12%;
    top: 6%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    border-radius: 50%;

    animation-name: animacion-brillo-trofeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: animacion-brillo-trofeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@keyframes animacion-brillo-trofeo{
    0%{
        width: 0%;
        left: 32%;
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    10%{
        width: 25%;
        left: 35%;
        opacity: 1;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        -o-filter: blur(10px);
    }
    20%{
        width: 0%;
        left: 67%;
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    100%{
        width: 0%;
        left: 67%;
        opacity: 0;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
}

#trofeo-luces{
    position: absolute;
    width: 137%;
    height: 29%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/trofeo-luces.svg);

    top: -7%;
    left: 50%;

    transform-origin: center 100%;
    -webkit-transform-origin: center 100%;
    -o-transform-origin: center 100%;
    
    animation-name: animacion-luz-trofeo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    -webkit-animation-name: animacion-luz-trofeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}
@keyframes animacion-luz-trofeo{
    0%{
        transform: translateX(-50%) translateY(-50%) scale(0);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
        -o-transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) translateY(-50%) scale(1);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -o-transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 0;
    }
}

.trofeo-off{
    display: none !important;
}
.trofeo-off #trofeo-brillo,
.trofeo-off #trofeo-luces{
    animation: none !important;
    animation: unset !important;
    -webkit-animation: none !important;
    -webkit-animation: unset !important;
}
.trofeo-big{
    width: 232px;
    height: 400px;
    left: 0%;
}

/************INICIO***********/
#inicio{
    background-color: #FFFFFF;
}
#elfin{
    background-color: #FFFFFF;
}

#marco-tv{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 65px);
    height: -moz-calc(100% - 65px);
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../images/tv-marco.png);
}
#destello-tv{
    position: absolute;
    width: 45%;
    height: 90%;
    height: calc((100% - 65px) - 10%);
    height: -moz-calc((100% - 65px) - 10%);
    left: 3%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    background-image: url(../images/tv-brillo.png);

    filter: blur(3px);
    -webkit-filter: blur(3px);
    -o-filter: blur(3px);
}

#footer-tv{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;

    background: #1c1626;
    background: linear-gradient(to right, #110c17, #231b2e);
    background: -webkit-linear-gradient(to right, #110c17, #231b2e);
    background: -o-linear-gradient(to right, #110c17, #231b2e);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#footer-tv::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #473d43;
    background: linear-gradient(to right, #473d43, #655a60);
    background: -webkit-linear-gradient(to right, #473d43, #655a60);
    background: -o-linear-gradient(to right, #473d43, #655a60);
    top: -5px;
    left: 0px;
}
#logo-cont{
    position: absolute;
    width: 297px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/logo-back.svg);
    bottom: 0px;
    left: 50%;
    left: calc(50% - (297px / 2));
    left: -moz-calc(50% - (297px / 2));
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    position: relative;
    width: 71%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/logo.png);
}

#footer-tv h1{
    position: relative;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

#sonido-btn{
    position: relative;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;

    border: #929496 solid 1px;
    background-color: rgba(0,0,0,0);

    box-shadow: 0px -2px 2px 1px rgba(0,0,0,0.7);
    outline: none;
    outline-width: 0;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;

    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
}
.sonido-btn-on{
    background-image: url(../images/sonido-on.svg);
}
.sonido-btn-off{
    background-image: url(../images/sonido-off.svg);
}

#sonido-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/********************BIENVENIDA***************************/
#bienvenida{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/fondo-intro.jpg);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bienvenida-off{
    visibility: hidden;
}
.bienvenida-on{
    visibility: visible;
}
.bienvenida-out{
    display: none !important;
}

#bienvenida-rueda-1,
#bienvenida-rueda-2{
    position: absolute;
    width: 800px;
    height: 800px;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/rueda-inicio.png);
}
#bienvenida-rueda-1{
    top: -400px;
    left: -400px;
}
#bienvenida-rueda-2{
    top: 100%;
    top: calc(100% - 400px);
    top: -moz-calc(100% - 400px);
    left: 100%;
    left: calc(100% - 400px);
    left: -moz-calc(100% - 400px);
}

.bienvenida-on #bienvenida-rueda-1,
.bienvenida-on #bienvenida-rueda-2{
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.bienvenida-on #bienvenida-rueda-1{
    animation-name: animacion-rueda-intro-1;
    -webkit-animation-name: animacion-rueda-intro-1;
}
.bienvenida-on #bienvenida-rueda-2{
    animation-name: animacion-rueda-intro-2;
    -webkit-animation-name: animacion-rueda-intro-2;
}
@keyframes animacion-rueda-intro-1{
    0%{
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
        -webkit-transform: rotate(180deg) scale(1.2);
        -o-transform: rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
        -o-transform: rotate(360deg) scale(1);
    }
}
@keyframes animacion-rueda-intro-2{
    0%{
        transform: rotate(360deg) scale(1.2);
        -webkit-transform: rotate(360deg) scale(1.2);
        -o-transform: rotate(360deg) scale(1.2);
    }
    50%{
        transform: rotate(180deg) scale(1);
        -webkit-transform: rotate(180deg) scale(1);
        -o-transform: rotate(180deg) scale(1);
    }
    100%{
        transform: rotate(0deg) scale(1.2);
        -webkit-transform: rotate(0deg) scale(1.2);
        -o-transform: rotate(0deg) scale(1.2);
    }
}

.bienvenida-title{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;

    font-family: 'SohoGothicPro-Bold';
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

#bienvenida-participantes{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.bienvenida-participantes-on{
    z-index: 10000;
}
.bienvenida-participantes-off{

}
#bienvenida-p1,
#bienvenida-p2,
#bienvenida-p3{
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}

#bienvenida-p1{
    margin-right: 0px;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
}
#bienvenida-p2{
    margin-right: 0px;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}
#bienvenida-p3{
    margin-right: 0px;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
}

#bienvenida-p1:hover{
    transform: scale(1.05) rotate(-2deg);
    -webkit-transform: scale(1.05) rotate(-2deg);
    -o-transform: scale(1.05) rotate(-2deg);
}
#bienvenida-p2:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}
#bienvenida-p3:hover{
    transform: scale(1.05) rotate(2deg);
    -webkit-transform: scale(1.05) rotate(2deg);
    -o-transform: scale(1.05) rotate(2deg);
}

.bienvenido-personaje{
    position: relative;
    width: 300px;
    height: 324px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#bienvenida-p1 .bienvenido-personaje{
    background-image: url(../images/juan-intro.png);
}
#bienvenida-p2 .bienvenido-personaje{
    background-image: url(../images/ana-intro.png);
}
#bienvenida-p3 .bienvenido-personaje{
    background-image: url(../images/pedro-intro.png);
}

.ojos{
    position: absolute;
    width: 14%;
    height: 4%;
    margin: 0px;
    padding: 0px;

    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;
}
#bienvenida-p1 .ojos{
    top: 22%;
    left: 41%;
    background-color: #ffad82;
}
#bienvenida-p2 .ojos{
    top: 18%;
    left: 45%;
    background-color: #ffad82;
}
#bienvenida-p3 .ojos{
    top: 20%;
    left: 46%;
    background-color: #ffad82;
}
.bienvenida-on .ojos{
    animation-name: animacion-ojos-personaje;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: animacion-ojos-personaje;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.bienvenida-on #bienvenida-p1 .ojos{
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
}
.bienvenida-on #bienvenida-p2 .ojos{
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
}
.bienvenida-on #bienvenida-p3 .ojos{
    animation-duration: 4.5s;
    -webkit-animation-duration: 4.5s;
}
@keyframes animacion-ojos-personaje{
    0%{
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -o-transform: scale(1,0);
    }
    10%{
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
    }
    15%{
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -o-transform: scale(1,0);
    }
    100%{
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -o-transform: scale(1,0);
    }
}

.bienvenida-name{
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

#bienvenida-p1 .bienvenida-name{
    transform: skewY(7deg);
    -webkit-transform: skewY(7deg);
    -o-transform: skewY(7deg);
}
#bienvenida-p3 .bienvenida-name{
    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
}
.bienvenido-personaje-zona{
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

/*********************FINAL*******************/

#podio{
    position: absolute;
    width: 540px;
    height: 500px;
    margin: 0px;
    padding: 0px;

    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;

    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);

    bottom: 20px;
    right: 5%;
}
.podio-off{
    display: none;
}
.podio-on{
    display: block;
}

#podio-img{
    position: absolute;
    width: 540px;
    height: 210px;
    bottom: 0px;
    left: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/podio.png);
}
#podio-star-1,
#podio-star-2,
#podio-star-3,
#podio-star-4{
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 0px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/podio-star.svg);
}

.podio-on #podio-star-1,
.podio-on #podio-star-2,
.podio-on #podio-star-3,
.podio-on #podio-star-4{
    animation-name: animacion-podio-star;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-podio-star;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.podio-on #podio-star-1{
    bottom: 16px;
    left: 40px;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}
.podio-on #podio-star-2{
    top: 40px;
    left: 200px;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
}
.podio-on #podio-star-3{
    top: 20px;
    left: 390px;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}
.podio-on #podio-star-4{
    bottom: 16px;
    right: 0px;
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
}
@keyframes animacion-podio-star{
    0%{
        transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -o-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
    }
    10%{
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
        -o-transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
    }
    20%{
        transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -o-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
        -o-transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
    }
}

#p1-celebra,
#p2-celebra,
#p3-celebra{
    position: absolute;
    width: 360px;
    height: 500px;
}

.p1-celebra-default{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.p2-celebra-default{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.p3-celebra-default{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.podio-pos1{
    left: 50%;
    left: calc(50% - (360px / 2));
    left: -moz-calc(50% - (360px / 2));
    bottom: 200px;
}
.podio-pos2{
    left: 17.5%;
    left: calc(17.5% - (360px / 2));
    left: -moz-calc(17.5% - (360px / 2));
    bottom: 125px;
}
.podio-pos3{
    left: 82.5%;
    left: calc(82.5% - (360px / 2));
    left: -moz-calc(82.5% - (360px / 2));
    bottom: 95px;
}

.podio-off #p1-celebra,
.podio-off #p2-celebra,
.podio-off #p3-celebra{
    display: none;
}
.podio-on #p1-celebra,
.podio-on #p2-celebra,
.podio-on #p3-celebra{
    display: block;
}

/**********************CC*****************/
#franja-cc{
    position: absolute;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    padding: 0px 100px;
    box-sizing: border-box;
    text-align: center;
    top: 100%;
    top: calc(100% - 110px);
    top: -moz-calc(100% - 110px);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.franja-cc-off{
    display: none;
}
.franja-cc-on{
    display: flex;
}
#franja-cc-txt{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;

    font-family: 'SohoGothicPro-Light';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #000000;
}