#concursantes{
	position: absolute;
	margin: 0px;
	padding: 0px;
	display: block;
	bottom: 20px;
}

.concursantes-off{
	display: none;
}
.concursantes-on{
	display: block;
}

.concursantes-intro{
	width: 1200px;/*(500 * .8) * 3*/
	height: 400px;/*500 * .8*/
	right: 50px;
	
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	
	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
}
.concursantes-intro-2{
	width: 1200px;/*(500 * .8) * 3*/
	height: 400px;/*500 * .8*/
	right: 50px;

	filter: blur(1px);
	-webkit-filter: blur(1px);
	-o-filter: blur(1px);

	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);

	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
}
.concursantes-big{
	/*width: 1200px;*//*(500 * .8) * 3*/
	/*height: 400px;*//*500 * .8*/
	width: 1500px;
	height: 500px;

	left: 40%;

	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
}

.concursantes-intro #participante-1,
.concursantes-intro #participante-2,
.concursantes-intro #participante-3,
.concursantes-intro-2 #participante-1,
.concursantes-intro-2 #participante-2,
.concursantes-intro-2 #participante-3
{
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);

	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
}

.concursantes-big #participante-1,
.concursantes-big #participante-2,
.concursantes-big #participante-3{
	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	
	transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}

#participante-1,#participante-2,#participante-3,#participante-alterno,#participante-extra{
	position: absolute;
	width: 500px;
	height: 500px; 
	box-sizing: border-box;
	/*border: #000 solid 1px;*/
}
.participante-pos1{
	top: 0px;
	left: 0px;
}
.participante-pos2{
	top: 0px;
	left: 50%;
	left: calc(50% - ((500px * 0.8) / 2));
	left: -moz-calc(50% - ((500px * 0.8) / 2));
}
.participante-pos3{
	top: 0px;
	left: 100%;
	left: calc(100% - (500px * 0.8));
	left: -moz-calc(100% - (500px * 0.8));
}

.participante-off{
	display: none;
}
.participante-on{
	display: block;
}

#p1-feliz,
#p2-feliz,
#p3-feliz{
	position: absolute;
	top: -39px;
	left: 170px;
}

#p1-piensa,
#p2-piensa,
#p3-piensa,
#pa-piensa,
#pe-piensa{
	position: absolute;
	top: 40px;
	left: 170px;
}

#p1-triste,
#p2-triste,
#p3-triste{
	position: absolute;
	top: 40px;
	left: 170px;
}

#p1-quieto,
#p2-quieto,
#p3-quieto{
	position: absolute;
	top: 40px;
	left: 170px;
}

#p1-neutro,
#p2-neutro,
#p3-neutro{
	position: absolute;
	width: 250px;
	height: 430px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 40px;
	left: 170px;
}
#p1-neutro{background-image: url(../images/p1-neutro/imagen.png);}
#p2-neutro{background-image: url(../images/p2-neutro/imagen.png);}
#p3-neutro{background-image: url(../images/p3-neutro/imagen.png);}

.participante-silla{
	position: absolute;
	width: 150px;
	height: 282px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/silla.svg);
	top: 100px;
	right: 70px;
	margin: 0px;
	padding: 0px;
}
.participante-mesa{
	position: absolute;
	width: 500px;
	height: 389px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/mesa.svg);
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}