#concursantes{
	position: absolute;
	margin: 0px;
	padding: 0px;
	display: block;
}

.concursantes-intro{
	width: 1200px;/*(500 * .8) * 3*/
	height: 400px;/*500 * .8*/
	right: 50px;
	bottom: 70px;

	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);

	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
}
.concursantes-preguntas{
	width: 1200px;/*(500 * .8) * 3*/
	height: 400px;/*500 * .8*/
	left: 40%;
	bottom: 70px;

	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
}

.concursantes-intro-out{
	bottom: 0px;
	opacity: 0;
}
/*.concursantes-intro-in{
	animation-name: animacion-concursantes-intro-in;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	-webkit-animation-name: animacion-concursantes-intro-in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}
@keyframes animacion-concursantes-intro-in{
	0%{
		bottom: 80px;
		opacity: 0;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
	85%{
		bottom: 180px;
		opacity: 1;
		transform: scale(0.8,1);
		-webkit-transform: scale(0.8,1);
		-o-transform: scale(0.8,1);
	}
	100%{
		bottom: 180px;
		opacity: 1;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
}*/

#participante-1,#participante-2,#participante-3{
	position: absolute;
	width: 500px;
	height: 500px; 
	box-sizing: border-box;
	border: #000 solid 1px;

	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);

	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
}
#participante-1{
	top: 0px;
	left: 0px;
}
#participante-2{
	top: 0px;
	left: 50%;
	left: calc(50% - ((500px * 0.8) / 2));
	left: -moz-calc(50% - ((500px * 0.8) / 2));
}
#participante-3{
	top: 0px;
	left: 100%;
	left: calc(100% - (500px * 0.8));
	left: -moz-calc(100% - (500px * 0.8));
}
.participante-off{
	display: none;
}
.participante-on{
	display: block;
}

#p1-feliz
#p2-feliz,
#p3-feliz{
	position: absolute;
	top: -39px;
	left: 170px;
}

#p1-piensa
#p2-piensa,
#p3-piensa{
	position: absolute;
	top: 40px;
	left: 170px;
}

#p1-triste
#p2-triste,
#p3-triste{
	position: absolute;
	top: 40px;
	left: 170px;
}

#p1-quieto,
#p2-quieto,
#p3-quieto{
	position: absolute;
	top: 40px;
	left: 170px;
}


#p1-neutro,
#p2-neutro,
#p3-neutro{
	position: absolute;
	width: 250px;
	height: 430px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 40px;
	left: 170px;
}
#p1-neutro{background-image: url(../images/p1-neutro/imagen.png);}
#p2-neutro{background-image: url(../images/p2-neutro/imagen.png);}
#p3-neutro{background-image: url(../images/p3-neutro/imagen.png);}

.participante-silla{
	position: absolute;
	width: 150px;
	height: 282px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/silla.svg);
	top: 100px;
	right: 70px;
	margin: 0px;
	padding: 0px;
}
.participante-mesa{
	position: absolute;
	width: 500px;
	height: 389px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/mesa.svg);
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}