#pregunta-cont-1{
    position: absolute;
    width: 100%;
    height: 50%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;

    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    background-image: url(../images/fondo-pregunta1.jpg);

    transition: top 1s;
    -webkit-transition: top 1s;
}

.pregunta-cont-1-out{
    top: 100%;
}
.pregunta-cont-1-in{
    top: 50%;
}

#pregunta-1-enunciado{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    position: relative;

    font-family: 'SohoGothicPro-Bold';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;

    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
#pregunta-1-opciones{
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.pregunta-1-opcion{
    position: relative;
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pregunta-1-opcion-icon{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.6);

    transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}

.pregunta-1-opcion-txt{
    position: relative;
    width: 100%;
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    height: 80px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    box-sizing: border-box;
    margin-left: 50px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 25px;

    transition: left 0.3s;
    -webkit-transition: left 0.3s;
}
.pregunta-1-opcion-txt p{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'SohoGothicPro-Medium';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

/***********************************************/
.pregunta-1-opciona{
    margin-right: 25px;
}
.pregunta-1-opciona .pregunta-1-opcion-icon{
    background-image: url(../images/icon-verdadero.png);
}
.pregunta-1-opcionb .pregunta-1-opcion-icon{
    background-image: url(../images/icon-falso.png);
}
.pregunta-1-opciona .pregunta-1-opcion-txt{
    background-image: url(../images/icon-verdadero-normal.svg);
}
.pregunta-1-opcionb .pregunta-1-opcion-txt{
    background-image: url(../images/icon-falso-normal.svg);
}
.pregunta-1-opciona .pregunta-1-opcion-txt p{
    color: #88b707;
}
.pregunta-1-opcionb .pregunta-1-opcion-txt p{
    color: #41b6e6;
}

.pregunta-1-opcion:hover .pregunta-1-opcion-icon{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.pregunta-1-opcion:hover .pregunta-1-opcion-txt{
    left: 10px;
}
.pregunta-1-opciona:hover .pregunta-1-opcion-txt{
    background-image: url(../images/icon-verdadero-over.svg);
}
.pregunta-1-opcionb:hover .pregunta-1-opcion-txt{
    background-image: url(../images/icon-falso-over.svg);
}
.pregunta-1-opcion:hover .pregunta-1-opcion-txt p{
    color: #FFFFFF;
}

.pregunta-1-zona{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    left: 0px;
    cursor: pointer;
    background-color: rgba(255,0,0,0.2);
    z-index: 1000;
}