#presentadora{
    position: absolute;
    width: 400px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    bottom: 20px;
    
    /*border: #000 solid 1px;*/
}
.presentadora-intro{
    left: 5%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
}
.presentadora-big{
    left: 10%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

#presentadora-feliz{
    position: absolute;
    top: 0px;
    left: 0px;
}
#presentadora-prepara{
    position: absolute;
    top: 79px;
    left: 126px;
}
#presentadora-desprepara{
    position: absolute;
    top: 79px;
    left: 126px;
}
#presentadora-quieta{
    position: absolute;
    top: 79px;
    left: 126px;
}
#presentadora-habla{
    position: absolute;
    top: 79px;
    left: 126px;
}

.presentadora-on{
    display: block;
}
.presentadora-off{
    display: none;
}
.presentadora-init{
    
}

.presentadora-move{

}
.presentadora-out{
    left: -400px;
    opacity: 0;
}
.presentadora-in{
    animation-name: animacion-presentadora-in;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation-name: animacion-presentadora-in;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}
@keyframes animacion-presentadora-in{
    0%{
        left: -10%;
        opacity: 0;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        -o-filter: blur(2px);
    }
    50%{
        left: 5%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    80%{
        left: 5%;
        opacity: 1;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    100%{
        left: 5%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
}
.presentadora-gone{
    animation-name: animacion-presentadora-gone;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation-name: animacion-presentadora-gone;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}
@keyframes animacion-presentadora-gone{
    0%{
        left: 5%;
        opacity: 1;
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -o-filter: blur(0px);
    }
    100%{
        left: -15%;
        opacity: 0;
        transform: rotate(5deg) scale(1.1);
        -webkit-transform: rotate(5deg) scale(1.1);
        -o-transform: rotate(5deg) scale(1.1);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        -o-filter: blur(2px);
    }
}