#presentadora{
    position: absolute;
    width: 400px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    bottom: 20px;
    
    border: #000 solid 1px;

    transform-origin: center 100%;
    -webkit-transform-origin: center 100%;
    -o-transform-origin: center 100%;

    /*transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);*/
}

#presentadora-feliz{
    position: absolute;
    top: 0px;
    left: 0px;
}
#presentadora-prepara{
    position: absolute;
    top: 79px;
    left: 126px;
}
#presentadora-desprepara{
    position: absolute;
    top: 79px;
    left: 126px;
}
#presentadora-habla{
    position: absolute;
    top: 79px;
    left: 126px;
}

.presentadora-on{
    display: block;
}
.presentadora-off{
    display: none;
}

.presentadora-move{

}
.presentadora-out{
    left: -400px;
    opacity: 0;
}
.presentadora-in{
    animation-name: animacion-presentadora-in;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation-name: animacion-presentadora-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}
@keyframes animacion-presentadora-in{
    0%{
        left: -5%;
        opacity: 0;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    50%{
        left: 5%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    80%{
        left: 5%;
        opacity: 1;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    100%{
        left: 5%;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}