#timeline{
    position: absolute;
    width: 100%;
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height: 30px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);

    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    bottom: 70px;
    left: 100px;
}
.timeline-on{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
    -webkit-transition: opacity 0.3s, visibility 0s;
}
.timeline-off{
    opacity: 0;
    visibility: hidden;
    /*transition: opacity 0.2s, visibility 0.2s;
    -webkit-transition: opacity 0.2s, visibility 0.2s;*/
}

#tl-play-btn,#tl-sound-btn,#tl-fullscreen-btn,#tl-cc-btn{
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    outline-width: 0;
    
    transition: border 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
    -webkit-transition: border 0.2s, box-shadow 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
}
#tl-play-btn:hover,#tl-sound-btn:hover,#tl-fullscreen-btn:hover,#tl-cc-btn:hover{
    filter: drop-shadow(0px 0px 3px #78BC20);
    -webkit-filter: drop-shadow(0px 0px 3px #78BC20);
    -o-filter: drop-shadow(0px 0px 5px #78BC20);
    cursor: pointer;
}
#tl-play-btn{
    margin-right: 10px;
}
#tl-sound-btn{
    margin-right: 10px;
}
#tl-cc-btn{
    margin-right: 10px;
}

.tl-cc-on{
    background-image: url(../images/icon-cc-on.svg);
}
.tl-cc-off{
    background-image: url(../images/icon-cc-on.svg);
    opacity: 0.3;
}
.tl-cc-off::after{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);
    left: 0px;
    content: "";
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}
.tl-play-paused{
    background-image: url(../images/icon-play.svg);
}
.tl-play-playing{
    background-image: url(../images/icon-pause.svg);
}
.tl-play-repeat{
    background-image: url(../images/icon-repeat.svg);
}
#tl-playbar{
    position: relative;
    display: block;
    width: 100%;
    width: calc(100% - (28px + 120px));
    width: -moz-calc(100% - (28px + 120px));
    height: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    /*border: #C7C7C7 solid 2px;*/
    background-color: #C7C7C7;

    transition: height 0.2s, border 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
    -webkit-transition: height 0.2s, border 0.2s, box-shadow 0.2s, filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
}
#tl-playbar:hover{
    cursor: pointer;
    height: 10px;
    filter: drop-shadow(0px 0px 3px #B7C52F);
    -webkit-filter: drop-shadow(0px 0px 3px #B7C52F);
    -o-filter: drop-shadow(0px 0px 5px #B7C52F);
}
#tl-playbar-status{
    position: relative;
    width: 0%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #78BC20;
    box-sizing: border-box;
}

#tl-duration{
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: default;

    font-family: 'SohoGothicPro-Medium';
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: normal;
    font-weight: normal;

    /*text-shadow: 0px 0px 4px rgba(0,0,0,1);*/
}

.tl-sound-on{
    background-image: url(../images/icon-sound-on.svg);
}
.tl-sound-off{
    background-image: url(../images/icon-sound-off.svg);
}

.tl-fullscreen-off{
    background-image: url(../images/icon-fullscreen-expand.svg);
}
.tl-fullscreen-on{
    background-image: url(../images/icon-fullscreen-collap.svg);
}
