#transicion{
    position: absolute;
    width: 100%;
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    height: 100%;
    height: calc(100% - 90px);
    height: -moz-calc(100% - 90px);

    top: 20px;
    left: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transicion-on{
    visibility: visible;
}
.transicion-off{
    visibility: hidden;
}

#transicion-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#transicion-fondo-2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #008b8d;
}

#transicion-fondo-1,
#transicion-fondo-3{
    position: absolute;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    overflow: hidden;
}
#transicion-fondo-1{
    width: 200px;
}

#transicion-fondo-dots-1,
#transicion-fondo-dots-2{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    /*border: #000000 solid 1px;*/
}
#transicion-fondo-dots-1{
    top: 10%;
    left: 100px;
}
#transicion-fondo-dots-2{
    bottom: 10%;
    right: 100px;
}

.transicion-fondo-col{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 20px;
    width: calc(100% / 25);
    width: -moz-calc(100% / 25);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.transicion-fondo-dot{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20px;
    height: calc(100% / 25);
    height: -moz-calc(100% / 25);
    border-radius: 50%;
    background-color: #FFFFFF;
    /*box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);*/
}

.transicion-fondo-dot-l1,
.transicion-fondo-dot-l2,
.transicion-fondo-dot-l3,
.transicion-fondo-dot-l4,
.transicion-fondo-dot-l5,
.transicion-fondo-dot-l6,
.transicion-fondo-dot-l7,
.transicion-fondo-dot-l8,
.transicion-fondo-dot-l9,
.transicion-fondo-dot-l10
{
    animation-name: animacion-fondo-dot;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    -webkit-animation-name: animacion-fondo-dot;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@keyframes animacion-fondo-dot{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.transicion-fondo-dot-l1{
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
}
.transicion-fondo-dot-l2{
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
}
.transicion-fondo-dot-l3{
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
}
.transicion-fondo-dot-l4{
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
}
.transicion-fondo-dot-l5{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}
.transicion-fondo-dot-l6{
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
}
.transicion-fondo-dot-l7{
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
}
.transicion-fondo-dot-l8{
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
}
.transicion-fondo-dot-l9{
    animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
}
.transicion-fondo-dot-l10{
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
}

/***************TITULOS***************/
#transicion-titulos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#transcicion-titulo1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: default;

    left: 50%;
    top: 50%;

    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}
.transicion-titulo-span{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;
}
.transicion-titulo-span-1{
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: 'SohoGothicPro-Bold';
    font-size: 70px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
}
.transicion-titulo-span-2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 5px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 70px;
    text-align: center;
    color: #008b8d;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 4px #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.transicion-titulo-span-space{
    visibility: hidden;
    color: rgba(0,0,0,0);
}
.transicion-titulo-span-init{
    transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    top: -20px;
    opacity: 0;
}
.transicion-titulo-span-in{
    animation: animacion-transicion-titulo-span-in 0.5s 0s 1 linear forwards, animacion-transicion-titulo-span-ining 10s 0s 1 linear forwards;
    -webkit-animation: animacion-transicion-titulo-span-in 0.5s 0s 1 linear forwards, animacion-transicion-titulo-span-ining 10s 0s 1 linear forwards;
}

@keyframes animacion-transicion-titulo-span-in{
    0%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        top: -20px;
        opacity: 0;
    }
    70%{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        top: 0px;
        opacity: 1;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        top: 0px;
        opacity: 1;
    }
}
@keyframes animacion-transicion-titulo-span-ining{
    0%{
        margin-left: 0px;
        margin-right: 0px;
    }
    100%{
        margin-left: 10px;
        margin-right: 10px;
    }
}

#transcicion-titulo3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1920px;
    height: 210px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;

    font-family: 'SohoGothicPro-Bold';
    font-size: 140px;
    text-align: left;
    color: rgba(15,102,96,0.7);
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    top: 0px;
}
#transcicion-titulo2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1920px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;

    font-family: 'SohoGothicPro-Bold';
    font-size: 180px;
    text-align: left;
    color: rgba(15,102,96,0.5);
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

/*************ANIMACION TITULOS*****************/
.transicion-titulo2-on,
.transicion-titulo3-on,
.transicion-titulo1-on{
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
}
/*.transicion-titulo1-on{
    animation-name: animacion-transicion-titulo1-in;
    -webkit-animation-name: animacion-transicion-titulo1-in;
}*/
.transicion-titulo2-on{
    animation-name: animacion-transicion-titulo2-in;
    -webkit-animation-name: animacion-transicion-titulo2-in;
}
.transicion-titulo3-on{
    animation-name: animacion-transicion-titulo3-in;
    -webkit-animation-name: animacion-transicion-titulo3-in;
}

@keyframes animacion-transicion-titulo1-in{
    0%{
        margin-left: 0px;
        margin-right: 0px;
    }
    100%{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@keyframes animacion-transicion-titulo2-in{
    0%{
        left: 0px;
    }
    100%{
        left: -100%;
    }
}
@keyframes animacion-transicion-titulo3-in{
    0%{
        left: 0px;
    }
    100%{
        left: 100%;
    }
}

/**********ON**********/
.transicion-on #transicion-titulos,
.transicion-on #transicion-fondo-1,
.transicion-on #transicion-fondo-2,
.transicion-on #transicion-fondo-3{    
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
.transicion-on #transicion-titulos{
    animation-name: animacion-fondo-2;/*la misma del alfa*/
    animation-delay: 0.5s;
    -webkit-animation-name: animacion-fondo-2;
    -webkit-animation-delay: 0.5s;
    opacity: 0;
}
.transicion-on #transicion-fondo-1{
    animation-name: animacion-fondo-1;
    -webkit-animation-name: animacion-fondo-1;
}
.transicion-on #transicion-fondo-2{
    animation-name: animacion-fondo-2;
    -webkit-animation-name: animacion-fondo-2;
}
.transicion-on #transicion-fondo-3{
    animation-name: animacion-fondo-3;
    -webkit-animation-name: animacion-fondo-3;
}

@keyframes animacion-fondo-1{
    0%{
        left: -200px;
        background-color: rgba(255,218,35,0);
    }
    100%{
        left: 0px;
        background-color: rgba(255,218,35,0.8);
    }
}
@keyframes animacion-fondo-2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animacion-fondo-3{
    0%{
        width: 70%;
        left: 100%;
        background-color: rgba(255,218,35,0);
    }
    100%{
        width: 70%;
        left: 100%;
        /*left: calc(100% - 100px);
        left: -moz-calc(100% - 100px);*/
        background-color: rgba(255,218,35,0.8);
    }
}

/**********ON 2**********/
.transicion-on-2 #transicion-fondo-1,
.transicion-on-2 #transicion-fondo-3{
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
.transicion-on-2 #transicion-fondo-1{
    animation-name: animacion-fondo-11;
    -webkit-animation-name: animacion-fondo-11;
}
.transicion-on-2 #transicion-fondo-2,
.transicion-on-2 #transicion-titulos{
    opacity: 1;
}
.transicion-on-2 #transicion-fondo-3{
    animation-name: animacion-fondo-33;
    -webkit-animation-name: animacion-fondo-33;
}

@keyframes animacion-fondo-11{
    0%{
        left: 0px;
        background-color: rgba(255,218,35,0.8);
    }
    100%{
        left: -200px;
        background-color: rgba(255,218,35,0.8);
    }
}
@keyframes animacion-fondo-33{
    0%{
        width: 70%;
        left: 100%;
        /*left: calc(100% - 100px);
        left: -moz-calc(100% - 100px);*/
        background-color: rgba(255,218,35,0.8);
    }
    100%{
        width: 70%;
        left: 30%;
        background-color: rgba(255,218,35,1);
    }
}

/**********OUT**********/
.transicion-out #transicion-titulos,
.transicion-out #transicion-fondo-2,
.transicion-out #transicion-fondo-3
{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
.transicion-out #transicion-fondo-1{
    left: -200px;
    opacity: 0;
}
.transicion-out #transicion-fondo-2{
    animation-name: animacion-fondo-222;/*el mismo de la opacidad*/
    -webkit-animation-name: animacion-fondo-222;
}
.transicion-out #transicion-fondo-3{
    animation-name: animacion-fondo-333;
    -webkit-animation-name: animacion-fondo-333;
}
.transicion-out #transicion-titulos{
    animation-name: animacion-fondo-222;/*el mismo de la opacidad*/
    -webkit-animation-name: animacion-fondo-222;
}

@keyframes animacion-fondo-222{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes animacion-fondo-333{
    0%{
        left: 30%;
        width: 70%;
        background-color: rgba(255,218,35,1);
        opacity: 1;
    }
    100%{
        left: 0%;
        width: 100%;
        background-color: rgba(255,218,35,1);
        opacity: 0;
    }
}


/*************************CORTINA*********************/
#cortina{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cortina-on{
    visibility: visible;
}
.cortina-off{
    visibility: hidden;
}

#cortina-fondo{
    position: absolute;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    opacity: 0;
}
.cortina-fondo-on{
    opacity: 1 !important;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.cortina-fondo-off{
    opacity: 0 !important;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

#cortina-titulo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: default;

    left: 50%;
    top: 50%;

    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.cortina-titulo-span{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

    transform-origin: center 0%;
    -webkit-transform-origin: center 0%;
    -o-transform-origin: center 0%;
}
.cortina-titulo-span-1{
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: 'SohoGothicPro-Bold';
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}
.cortina-titulo-span-2{
    /*position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 5px;

    font-family: 'SohoGothicPro-Bold';
    font-size: 70px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;*/
}

/*.cortina-titulo-span-space{
    visibility: hidden;
    color: rgba(0,0,0,0);
}*/
.cortina-titulo-span-init{
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    opacity: 0;
}
.cortina-titulo-span-in{
    animation: animacion-cortina-titulo-span-in 0.5s 0s 1 linear forwards, animacion-cortina-titulo-span-ining 2s 0s 1 linear forwards;
    -webkit-animation: animacion-cortina-titulo-span-in 0.5s 0s 1 linear forwards, animacion-cortina-titulo-span-ining 2s 0s 1 linear forwards;
}

@keyframes animacion-cortina-titulo-span-in{
    0%{
        transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        opacity: 0;
    }
    70%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        opacity: 1;
    }
    100%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        opacity: 1;
    }
}
@keyframes animacion-cortina-titulo-span-ining{
    0%{
        margin-left: 0px;
        margin-right: 0px;
    }
    100%{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.cortina-titulo-on{

}
.cortina-titulo-off{
    opacity: 0;
}